.App {
  width: 100%;
  height: 100vh;
  background-color: #ebebeb;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-box {
  width: 400px;
  height: 600px;
  background: white;
  border-radius: 5px;
  padding: 20px 20px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-box-shadow: 0px 89px 173px -74px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 89px 173px -74px rgba(0,0,0,0.53);
  box-shadow: 0px 89px 173px -74px rgba(0,0,0,0.53);
}

.list-item {
  width: 100%;
  height: 50px;
  border: 2px solid #c9c9c9;
  border-radius: 5px;
  margin: 10px 0px;
}

.list-item:hover {
  cursor:pointer;
}